name: Build Chutuki Assistant APK

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: "17"
        distribution: "temurin"

    - uses: android-actions/setup-android@v3

    - name: Accept Licenses
      run: yes | sdkmanager --licenses

    - name: Grant Permission
      run: chmod +x gradlew

    - name: Create local.properties
      run: |
        echo "WEATHER_API_KEY=${{ secrets.WEATHER_API_KEY }}" > local.properties
        echo "PICOVOICE_ACCESS_KEY=${{ secrets.PICOVOICE_ACCESS_KEY }}" >> local.properties

    - name: Build APK
      run: ./gradlew assembleDebug

    - uses: actions/upload-artifact@v4
      with:
        name: chutuki-apk
        path: app/build/outputs/apk/debug/app-debug.apk
